<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:700|Istok+Web:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/scss/style.css">
    <link rel="shortcut icon" href="../img/letter-t.png" type="image/png">
    <title>TALLAM | информационно-аналитическая платформа</title>

</head>
<body>
    <header class="header">
        <div class="header_top">
            <div class="logo">
                <a href="./cabinet.html" class="logo__tallam">Tallam</a>
                <h2 class="header__institution" id="header__institution">МБОУ "СОШ №7"</h2>
            </div>
            <a href="#" class="menu_btn" id="menu_btn">
                <span></span>
            </a>
            <!-- <h1 class="header__heading">Проекты</h1> -->
            <nav class="main_nav" id="main_nav">
                <ul class="main_nav__items">
                    <li class="main_nav__item"><a href="./projects.html" class="main_nav__link">Проекты</a></li>
                    <li class="main_nav__item"><a href="#" class="main_nav__link main_nav__link--log_out">Выйти</a></li>
                </ul>
            </nav>
            <nav class="second_nav">
                <ul class="second_nav__items">
                    <li class="second_nav__item"><a href="./global_list.html" class="second_nav__link">Список работников</a></li>
                    <!-- <li class="second_nav__item"><a href="#" class="second_nav__link">Посмотреть оценки</a></li> -->
                </ul>
            </nav>
        </div>
    </header>

    <main>   
        <section class="profile">
            <div class="profile__photo">
                <img src="../img/profile.svg" alt="Фото">
                <a href="#" сlass="profile__button">Редактировать</a>
                <!-- <a href="#" сlass="profile__button">Удалить из проекта</a> -->
            </div>
            <div class="profile__info">

                <section class="profile__block personal">
                    <h2 class="profile__title">Личные данные</h2>
                    <div class="personal__buttons">
                        <a href="#">Редактировать</a>
                        <!-- <a href="#">Оценить</a> -->
                    </div>
                    <div>
                        <div>
                            <h4 class="profile__subtitle">ФИО</h4> 
                            <p class="personal__fullname">Абдулкадырова Тумиша Таштиевна</p>
                        </div>
                        <div>
                            <h4 class="profile__subtitle">Должность</h4> 
                            <p class="personal__position">Доцент</p>
                        </div>
                        <div>
                            <h4 class="profile__subtitle">Дата рождения</h4>
                            <p class="personal__birthday"></p>
                        </div>  
                        <div>
                            <h4 class="profile__subtitle">СНИЛС</h4> 
                            <p class="personal__snils">000-000-000-00</p>
                        </div>
                    </div>
                </section>

                <section class="profile__block profile__education education">
                    <h2 class="profile__title">Образование</h2>
                    <div>
                        <div>
                            <h4 class="profile__subtitle">Образование</h4>
                            <p class="education__name">высшее, ЧИГУ филолог, преподаватель-переводчик</p>
                        </div>
                        <div>
                            <h4 class="profile__subtitle ">Номер документа</h4>
                            <p class="education__document">Диплом, КВ 460142</p>
                        </div>
                        
                        <div>
                            <h4 class="profile__subtitle">Ученая степень, ученое звание, почетное звание</h4>
                            <p class="education__rank">Почетный работник сферы образования РФ, кандидат педагогических
                            наук, доцент</p>
                        </div> 
                    </div>
                </section>
                <section class="profile__block profile__contacts contacts">
                    <h2 class="profile__title">Контактные данные</h2>
                    <div>
                        <div>
                            <h4 class="profile__subtitle">Email</h4>
                            <p class="contacts__email"></p>
                        </div>
                        
                        <div>
                            <h4 class="profile__subtitle">Телефон</h4>
                            <p class="contacts__phone"></p>
                         </div>
                    </div>
                </section>
                <section class="profile__block profile__training training">
                    <h2 class="profile__title">Повышение квалификации</h2>
                    <div>
                        <div>
                            <h4 class="profile__subtitle">Проекты, в которых участвует работник</h4>
                            <ol class="training__projects projects__list">
                                <li class="project"><p class="project__name">"Оценка качества урока"</p><a href="#" сlass="project__button">Удалить из проекта</a></li>
                                <li class="project"><p class="project__name">"Оценка качества урока"</p><a href="#" сlass="project__button">Удалить из проекта</a></li>
                            </ol>
                        </div>
                        <div>
                            <h4 class="profile__subtitle">Наименование программы повышения квалификации, направление переподготовки
                                </h4>
                            <p class="training__name"></p>
                        </div>
                        <div>
                            <h4 class="profile__subtitle">Наименование ОУ (место прохождения ПК)</h4>
                            <p class="training__place"></p>
                        </div>
                        <div>
                            <h4 class="profile__subtitle">Вид повышения квалификации (КПК, переподготовка, семинар, стажировка), дата прохождения</h4>
                            <p class="training__type"></p>
                        </div>
                        <div>
                            <h4 class="profile__subtitle">Документ о повышении квалификации (сертификат, удостоверение, свидетельство), серия, номер, дата выдачи</h4>
                            <p class="training__document"></p>
                        </div>
                        <div>
                            <h4 class="profile__subtitle">Год</h4>
                            <p class="training__date"></p>
                        </div>
                        <div>
                            <h4 class="profile__subtitle">ФИО преподавателя</h4>
                            <p class="training__fullname"></p>
                        </div>
                    </div>
                </section>
            </div>
            <a href="#" class="profile__button profile__button--delete">Удалить профиль</a>
           
            <div class="modal">
                <div class="modal__cross">x</div>
                <h3 class="modal__question">Вы уверены, что хотите удалить этот профиль?</h3>
                <div class="modal__answer modal__answer--yes">Да</div>
                <div href="#" class="modal__answer modal__answer--no">Нет</div>
            </div>
        </section>  
    </main>
    <div class="black"></div>

    <footer class="footer">
        <div class="support">
            <div class="support__contact_developers">
                <a href="#" class="support__link">Связаться с разработчиками</a>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="../js/script.js"></script>
    <script type="text/javascript">
        let modal =  document.querySelector('.modal');
        let cross = document.querySelector('.modal__cross');
        let black = document.querySelector('.black');
        let closeButton = document.querySelector('.modal__answer--no');
        let body = document.querySelector('body');

        cross.addEventListener('click', closeModal);
        black.addEventListener('click', closeModal);
        closeButton.addEventListener('click', closeModal);
        document.addEventListener('keyup', event => {
            if (event.keyCode === 27) {closeModal()}
        })


        function closeModal() {
            modal.style.display = 'none';
            black.style.display = 'none';
            body.style.height = 'auto';
            body.style.overflow= 'auto';
        }

        let deleteButton = document.querySelector('.profile__button--delete');
        deleteButton.addEventListener('click', event => {
            modal.style.display = 'block';
            black.style.display = 'block';
            body.style.height = '100vh';
            body.style.overflow= 'hidden';
        })
    </script>
</body>
</html>