
            <nav class="second_nav">
                <ul class="second_nav__items">
                    <!-- <li class="second_nav__item"><a href="#" class="second_nav__link">Список работников</a></li> -->
                    <li class="second_nav__item"><a href="/global_add" class="second_nav__link">Добавить учителя</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="blue-line"></div>      
        <h1>Список педагогических работников</h1>   
        <section class="list_section">
            <ol class="teachers_list">
                <li class="teachers_list__item"><a href="#">Абубакарова Фатима Саид-Магомедовна</a></li>
                <li class="teachers_list__item"><a href="#">Иванов Иван Иванович </a></li>
                <li class="teachers_list__item"><a href="#">Иванов Иван Иванович</a></li>
                <li class="teachers_list__item"><a href="#">Иванов Иван Иванович</a></li>
                <li class="teachers_list__item"><a href="#">Иванов Иван Иванович</a></li>
            </ol>
        </section>  
    </main>

    <footer class="footer">
        <div class="support">
            <div class="support__contact_developers">
                <a href="#" class="support__link">Связаться с разработчиками</a>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="../js/script.js"></script>
