<form action="/login"  method="POST">
    <input type="text" name="login">
    <input type="text" name="password">
    <button type="submit"> enter</button>
</form>

{{#if results.length}}
    <h2>Results: {{ results }}</h2>
{{/if}}



